.privacy-container {
  background: linear-gradient(to bottom right, #012a54, #001f3f);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  color: black;
  font-family: Arial, sans-serif;
}



.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
    outline: none; /* remove focus outline */
}

.back-btn:hover,
.back-btn:focus {
  background: none; /* prevent gray/blue highlight */
  outline: none;
  box-shadow: none;
}


.privacy-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

/* Card */
.privacy-card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  min-height: 250px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  align-self: center;
  
}

.privacy-card h2 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}


