.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-box {
  background-color: #00b9d6;
  border-radius: 20px;
  padding: 30px 40px;
  text-align: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  width: 320px;
  color: black;
  font-family: Arial, sans-serif;
}

.popup-title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-form label {
  font-weight: bold;
}

.popup-form input {
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
}

.popup-btn.save {
  background-color: #6fed64;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.popup-btn.save:hover {
  transform: translateY(-2px);
}

.popup-cancel {
  margin-top: 10px;
  background: #69D84F;
  border: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: 0.2s;
}

.popup-cancel:hover {
  color: #69D84F;
}
