.searchbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.searchbar-button:hover {
  background-color: #ffffff; 
  border-color: #d1d5db;  
  cursor: default;         
}

.searchbar-icon:hover {
  transform: none;
  opacity: 1;
}

/* For medium and larger screens */
@media (min-width: 768px) {
  .searchbar-container {
    flex-direction: row;
    align-items: center;
  }
}

.searchbar-input-group {
  display: flex;
  width: 100%;
  background-color: #ffffff;

  border-radius: 0; 
  overflow: hidden;
}

/* 60% width on medium screens and up */
@media (min-width: 768px) {
  .searchbar-input-group {
    width: 60%;
  }
}

.searchbar-input {
  flex-grow: 1;
  padding: 1rem 1.2rem;
  border: none;
  font-size: 0.875rem;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.searchbar-button {
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-left: none;
  padding: 1rem 1.2rem;
 
  cursor: default;
}

.searchbar-icon {
  width: 1rem;
  height: 1rem;
}

.searchbar-dropdown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
   position: relative; 
  left: -100px;         
}

.searchbar-label {
  color: #1f2937; 
  font-weight: 500;
   font-size: 1.25rem; 
}

.searchbar-select {
  width: 200px;                
  padding: 1rem 1.2rem;        
  font-size: 1rem;       
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #d1d5db;
  border-radius: 0;           
  box-sizing: border-box;      
  height: auto;               
}

.searchbar-container {
  margin-left: 32px; /* adjust this value to move more or less */
}